
.alltext{
	font-size: 30px;
	font-weight: bold;
	color: rgb(237, 230, 247);
}
.grande{
    font-size:80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(251, 251, 252);
}
.botao{
    font-size: 40px
}
body{

    background-color: black;
}
.foote{
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    color: #fff;
    text-align:center;
}
.inicial{
    font-size: 20px;
    color: azure;
      }