body{
    background-image: ;

}
 .Rushhh{
    position: absolute;
    left: 900px;
    right: 40px
 }

.letrarush{
    font-family: ;
    font-size: 7rem;
    font-family: sans-serif;
}
.letragrande1{
    font-size: 25px;
    font-weight: bold;
    font-family: ;
}