.imagem{
    text-align: center;
}

.sla{
    color: aliceblue;
    font-family: fantasy;
    font-size: larger;  
}

body{
    background-color: black;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(0, 0, 0);
    color: white;
  }